<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="icon" href="https://img.icons8.com/?size=100&id=wNZ3FTgUzSQX&format=png&color=000000" type="image/png">
</head>
<body>
   <h1>Содержимое книги</h1>
   <h2>{{ title }}</h2>
    <div id="book-content">
        {{ content|safe }}  <!-- Выводим преобразованный текст книги -->
    </div>

    <div id="translation-box" class="translation-box" style="display: none;"></div>
    <div id="sentence-translation-box" class="sentence-translation-box" style="display: none;"></div>

    <br>

    <div class="saved-translations">
        <h2>Сохраненные слова:</h2>
        <div id="saved-words-list"></div>
    </div>

    <br>
    <a href="/">Назад к списку книг</a> <!-- Ссылка на главную страницу -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/try.js') }}"></script> -->
</body>
</html>