<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о книгах</title>
    <link rel="icon" href="https://img.icons8.com/?size=100&id=ChugQlss1ohB&format=png&color=ffffff" type="image/png">
    <link rel="stylesheet" href="/static/css/style_index.css">
</head>
<body>
<h1>Информация о книгах</h1>
<div id="error-message"></div>

<form id="add-folder-form" onsubmit="addFolder(event)">
    <input type="text" name="title" placeholder="Название книги (и папки)" required>
    <input type="text" name="author" placeholder="Автор">
    <input type="text" name="difficulty" placeholder="Сложность">
    <input type="text" name="image" placeholder="Ссылка на изображение (опционально)">
    <button type="submit">Добавить книгу</button>
</form>

<div id="folder-list"></div>

<div style="text-align: center; margin-top: 40px;">
    <small>Создано с ❤️ для любителей книг.</small>
</div>

<script src="{{ url_for('static', filename='js/folders.js') }}"></script>
</body>
</html>
